
# Cooldown time in seconds between yt-dlp executions
YTDLP_COOLDOWN=600

# File name for YouTube cookies (placed in the container workspace /app)
COOKIES_FILE=cookies.txt

# Maximum time in seconds to wait for a stream to start
MAX_STREAM_TIMEOUT=60.0

